<article class="book_thumbnail">
    <div class="book_thumbnail_header">
        <p class="book_thumbnail_title"><%= book.title %> <span class="book_thumbnail_author"> (<%= book.author.firstname %> <%= book.author.lastname %>)</span>
        </p>
    </div>
    
    <div class="book_thumbnail_infos">
        <div class="book_thumbnail_image">
            <img class="book_thumbnail_image_cover" src="<%= book.cover_image || './images/DefaultBookCoverImg.png' %>" alt="Couverture du livre <%= book.title %>">
        </div>
        <div class="book_thumbnail_summary">
            <p>Résumé :</p>
            <p><%= book.book_description %></p>

        </div>
    </div>
    <div class="book_thumbnail_options">
        <div >
            <form action="/book/<%= book.id %>" method="GET">
                <button class="book_thumbnail_button">Détails</button>
            </form>
        </div>
        <div>
            <% if (!locals.displayRemoveButton) { %>
                <form action="/addBookToBookshelf" method="POST">
                    <input type="hidden" name="book_id" value="<%= book.id %>">
                    <button  class="book_thumbnail_button"type="submit" alt="Ajouter <%= book.title %> à ma Bookshelf">
                        Ajouter à ma Bookshelf
                    </button>
                </form>
            <% } %>
    
            <% if (locals.displayRemoveButton) { %>
                <form action="/deleteBookFromBookshelf" method="POST">
                    <input type="hidden" name="book_id" value="<%= book.id %>">
                    <button class="book_thumbnail_button" type="submit" alt="Retirer <%= book.title %> de ma Bookshelf">
                        Retirer de ma Bookshelf
                    </button>
                </form>
            <% } %>
        </div>
    </div>
</article>