  <%- include('./partials/head') %>
  <%- include('./partials/header') %>
  
  
  <div class="index-section" >
  <% if (!locals.reader) { %>
    <%- include('./partials/loginNeeded') %>
  <% } %>
  <% if (locals.reader) { %>
    <h2>Bookshelf de <%= locals.reader.nickname %></h2>

        
      <% if (locals.bookshelf) { %>
        <section class="booklist-section">
          <ul>
            <% locals.bookshelf.books.forEach((book) => { %>
                <!-- Gestion des erreurs en cas de champ vide avec une ternaire -->
            <li><%- include('partials/bookThumbnail', {book: book}) %></li>
        
            <% }); %> 
          </ul>
        </section>
      <% } %>





    <% } %>  
  </div>

  
  <% if (locals.message) { %>
    <p><%= locals.message %></p>
  <% } %>
  
  <%- include('./partials/footer') %>


