  <%- include('./partials/head') %>
  <%- include('./partials/header') %>
  
  
  <div class="index-section" >
  <% if (!locals.reader) { %>
    <%- include('./partials/loginNeeded') %>
  <% } %>
  <% if (locals.reader) { %>
    <h2><%= locals.reader.nickname %> : Ma Bookshelf</h2>
        <!-- <form action="/bookshelf/search" method="POST" type="submit" name="searchFromAPI">
            <label for="titleFromAPI">Titre :</label>
            <input type="text" id="titleFromAPI" name="titleFromAPI" placeholder="Titre">
            <label for="authorFromAPI">Auteur :</label>
            <input type="text" id="authorFromAPI" name="authorFromAPI" placeholder="Auteur">
            <label for="isbnFromAPI">ISBN :</label>
            <input type="text" id="isbnFromAPI" name="isbnFromAPI" placeholder="ISBN">
            <button type="submit">Rechercher</button> -->
    
        
      <% if (locals.bookshelf) { %>
        
        <ul>
          <% locals.bookshelf.books.forEach((book) => { %>
              <!-- Gestion des erreurs en cas de champ vide avec une ternaire -->
          <li><%- include('partials/bookThumbnail', {book: book}) %></li>
      
          <% }); %> 
        </ul>
      <% } %>





    <% } %>  
  </div>

  
  <% if (locals.message) { %>
    <p><%= locals.message %></p>
  <% } %>
  
  <%- include('./partials/footer') %>


