  <%- include('./partials/head') %>
  <%- include('./partials/header') %>
  
  
  <% if (locals.reader) { %>
    <h2>Bonjour <%= locals.reader.nickname %></h2>
    <p>Vous avez acces au dashboard !</p>
<% } %>  
  
  <% if (locals.message) { %>
    <p><%= locals.message %></p>
  <% } %>
  
  <%- include('./partials/footer') %>
