<%- include('./partials/head') %>
<%- include('./partials/header') %>

<section class="profile-container index-section">
   <div class="dashboard-name"> <h2>Dashboard de <%= locals.reader.nickname %></h2>
    <img class="avatar-dashboard" src="/images/avatar.jpg" alt="avatar"> 
   </div> 
    <% if (locals.reader) { %>
    
    <!-- Affichage des informations du profil de l'utilisateur -->
        <div class="profile-info">
            <p>Pseudo : <%= locals.reader.nickname %></p>
            <p>Nom : <%= locals.reader.lastname %></p>
            <p>Prénom : <%= locals.reader.firstname %></p>
            <p>Email : <%= locals.reader.email %></p>
            <p><a href="/bookshelf">Ma Bibliothèque  </a></p>
        </div>
    <% } %>

<!-- Si l'utilisateur est un admin, on peut lui offrir des actions supplémentaires -->
    <div class="admin-actions">
        <% if (locals.isAdmin) { %>
            <h3>Actions administratives:</h3>
            <form action="">
                <button class="admin-boutons">Gérer les utilisateurs </button>
            </form>

            <form action="/api/search" method="GET">
                <button class="admin-boutons" type="submit">Ajouter un livre à la BDD</button>
            </form>

            <form action="">
                <button class="admin-boutons">Supprimer un livre de la BDD</button>
            </form>
        <% } %>
    </div>

<!-- Affichage des messages, s'il y en a -->
    <% if (locals.message) { %>
        <p><%= locals.message %></p>
    <% } %>
</section>

<%- include('./partials/footer') %>