<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- Common styles, scripts, and meta tags -->
  <%- include('./partials/head') %>


  <!-- Title -->
  <title>blablabookINDEX</title>

</head>

<body> 
  <%- include('./partials/header') %>
  <%- include('./partials/menu') %>
  
  <% if (locals.reader) { %>
    <h2><%= locals.reader.nickname %></h2>
    <p>Voulez-vous vous déconnecter ? </p>
    <form action="/logout" method="POST" type="submit" name="logout"><button>déconnexion</button>
<% } %>  
  
  <% if (locals.message) { %>
    <p><%= locals.message %></p>
  <% } %>
  
  <%- include('./partials/footer') %>

</body>
</html>