<%- include('./partials/head') %>

<%- include('./partials/header') %>
<% if (locals.reader) { %>
<div class="index-section">
    <h2><%= locals.reader.nickname %></h2>
    <form action="/logout" method="POST" type="submit" name="logout"><button>déconnexion</button>
    </div>
  <% } %>

  <% if (locals.message) { %>
    <p><%= locals.message %></p>
<% } %>
<% if (locals.bookList) { %>
  <section class="booklist-section">
    
    <ul>
      
      <% locals.bookList.forEach((book) => { %>
        <!-- Gestion des erreurs en cas de champ vide avec une ternaire -->
        
        
        <li><%- include('partials/bookThumbnail', {book: book}) %></li>
        
      <% }); %> 
    </ul>
      
  </section>
<% } %>


<%- include('./partials/footer') %>
