<%- include('./partials/head') %>





<%- include('./partials/header') %>


<section class="login-section">
    <% if (locals.message) { %>
        <h2><%= locals.message %></h2>
        <% } %>

    <% if (locals.reader) { %>
        <form class="second-background" action="/logout" method="POST">
        <h2><%= locals.reader.nickname %></h2>
        <p>Voulez-vous vous déconnecter ? </p>
            <button class="fourth-background" type="submit" name="logout">déconnexion</button>
        </form>
        
        <% } %>    
        
        <% if (!locals.reader) { %>
            <form class="second-background" action="/login" method="POST">
                <div>
                    <label for="email">Adresse mail:</label>
                    <input type="text" id="email" name="email" placeholder="Votre adresse mail" required>
                </div>
                <div>
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" placeholder="Votre mot de passe" required>
                </div>
                    <button class="fourth-background" type="submit">Connexion</button>
                
            </form>
            <% } %>   
            
            
</section>




<%- include('./partials/footer') %>

