<%- include('partials/head') %>

<body> 
<%- include('partials/header') %>



  <% if (locals.reader) { %>
    <h2><%= locals.reader.nickname %></h2>
    <p>Voulez-vous vous déconnecter ? </p>

    <form action="/search" method="POST" type="submit" name="search">
      <label for="query">recherche :</label>
      <input type="text" id="query" name="query" placeholder="Titre d'un livre recherché...">

      <button type="submit">Rechercher</button>
<% } %>  
  
<% if (locals.message) { %>
  <p><%= locals.message %></p>
<% } %> 

<% if (locals.searchInput) { %>
  <p>Vous avez recherché :</p> 
  <p><%= locals.searchInput %></p>
<% } %>

<% if (locals.booksToFind) { %>
  <ul>
    <% locals.booksToFind.forEach((book) => { %>
        <!-- Gestion des erreurs en cas de champ vide avec une ternaire -->

        <li><%- include('partials/book', {book:book}) %></li>

    <% }); %> 
  </ul>
<% } %>

<% if (locals.noresult) { %>
  <% locals.noresult %>

  <% if (locals.noresult && locals.searchInput) { %>
    <p>Aucun resultat pour <%= locals.searchInput %></p>
    <% } %>
<% } %>
    
    
  <% if (locals.result) { %>
    <p><%= locals.result %></p>
  <% } %>


  
  <%- include('./partials/footer') %>