<%- include('partials/head') %>
<%- include('partials/header') %>

<div class="index-section">

  <% if (!locals.reader) { %>
    <%- include('./partials/loginNeeded') %>
  <% } %>

  <% if (locals.reader) { %>
    <h2>Recherche</h2>
    <div class="searchInfo">
        <p><%= locals.message %></p>
    </div>
  <% } %> 

  <!-- BARRE DE RECHERCHE FIXE -->
  <div class="search-bar-container">
    <form class="search-bar" action="/search" method="POST">
      <input type="text" id="query" name="query" placeholder="Titre d'un livre recherché...">
      <button type="submit">Rechercher</button>
    </form>
  </div>

  <% if (locals.searchInput) { %>
    <p>Vous avez recherché : <span><%= locals.searchInput %></span></p> 
  <% } %>

  <% if (locals.noresult && locals.searchInput) { %>
    <p>Aucun résultat pour <%= locals.searchInput %></p>
  <% } %>

  <% if (locals.booksToFind) { %>
    <ul>
      <% locals.booksToFind.forEach((book) => { %>
        <li><%- include('partials/bookThumbnail', {book: book}) %></li>
      <% }); %> 
    </ul>
  <% } %>

  <% if (locals.authorToFind && locals.authorToFind.length > 0) { %>
    <h2>Auteurs trouvés :</h2>
    <ul>
      <% locals.authorToFind.forEach((author) => { %>
        <li><a href="/author/<%= author.id %>"><%= author.firstname %> <%= author.lastname %></a></li>
      <% }); %> 
    </ul>
  <% } %>

  <% if (locals.result) { %>
    <p><%= locals.result %></p>
  <% } %>

</div>

<%- include('./partials/footer') %>
